BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> 001

CREATE TYPE userrole AS ENUM ('ATHLETE', 'ORGANIZATION');

CREATE TABLE users (
    id SERIAL NOT NULL, 
    email VARCHAR(255) NOT NULL, 
    password_hash VARCHAR(255) NOT NULL, 
    auth_token VARCHAR(255), 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    is_active BOOLEAN DEFAULT true NOT NULL, 
    role userrole DEFAULT 'ATHLETE' NOT NULL, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_users_id ON users (id);

CREATE UNIQUE INDEX ix_users_email ON users (email);

CREATE TABLE athlete_profiles (
    id SERIAL NOT NULL, 
    user_id INTEGER NOT NULL, 
    first_name VARCHAR(100) NOT NULL, 
    last_name VARCHAR(100) NOT NULL, 
    sport VARCHAR(100) NOT NULL, 
    position VARCHAR(100) NOT NULL, 
    nationality VARCHAR(100) NOT NULL, 
    birth_date DATE NOT NULL, 
    photo VARCHAR(500), 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id), 
    UNIQUE (user_id)
);

CREATE INDEX ix_athlete_profiles_id ON athlete_profiles (id);

CREATE TABLE sports_organizations (
    id SERIAL NOT NULL, 
    user_id INTEGER NOT NULL, 
    organization_name VARCHAR(200) NOT NULL, 
    organization_type VARCHAR(100) NOT NULL, 
    country VARCHAR(100) NOT NULL, 
    city VARCHAR(100) NOT NULL, 
    description VARCHAR(2000), 
    logo VARCHAR(500), 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id), 
    UNIQUE (user_id)
);

CREATE INDEX ix_sports_organizations_id ON sports_organizations (id);

CREATE TABLE diplomas (
    id SERIAL NOT NULL, 
    athlete_id INTEGER NOT NULL, 
    title VARCHAR(255) NOT NULL, 
    institution VARCHAR(255) NOT NULL, 
    year INTEGER NOT NULL, 
    is_certification BOOLEAN DEFAULT false NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(athlete_id) REFERENCES athlete_profiles (id)
);

CREATE INDEX ix_diplomas_id ON diplomas (id);

CREATE TABLE experiences (
    id SERIAL NOT NULL, 
    athlete_id INTEGER NOT NULL, 
    position VARCHAR(255) NOT NULL, 
    organization VARCHAR(255) NOT NULL, 
    start_date DATE NOT NULL, 
    end_date DATE, 
    description TEXT, 
    PRIMARY KEY (id), 
    FOREIGN KEY(athlete_id) REFERENCES athlete_profiles (id)
);

CREATE INDEX ix_experiences_id ON experiences (id);

CREATE TYPE offerstatus AS ENUM ('ACTIVE', 'CLOSED', 'DRAFT');

CREATE TABLE offers (
    id SERIAL NOT NULL, 
    organization_id INTEGER NOT NULL, 
    title VARCHAR(255) NOT NULL, 
    description TEXT NOT NULL, 
    sport VARCHAR(100) NOT NULL, 
    contract_type VARCHAR(100) NOT NULL, 
    location VARCHAR(255) NOT NULL, 
    publication_date TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    expiration_date DATE, 
    status offerstatus DEFAULT 'ACTIVE' NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(organization_id) REFERENCES sports_organizations (id)
);

CREATE INDEX ix_offers_id ON offers (id);

CREATE TYPE applicationstatus AS ENUM ('PENDING', 'ACCEPTED', 'REJECTED');

CREATE TABLE applications (
    id SERIAL NOT NULL, 
    athlete_id INTEGER NOT NULL, 
    offer_id INTEGER NOT NULL, 
    application_date TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    status applicationstatus DEFAULT 'PENDING' NOT NULL, 
    cv TEXT, 
    motivation_letter TEXT, 
    PRIMARY KEY (id), 
    FOREIGN KEY(athlete_id) REFERENCES athlete_profiles (id), 
    FOREIGN KEY(offer_id) REFERENCES offers (id)
);

CREATE INDEX ix_applications_id ON applications (id);

CREATE TABLE messages (
    id SERIAL NOT NULL, 
    sender_id INTEGER NOT NULL, 
    receiver_id INTEGER NOT NULL, 
    content TEXT NOT NULL, 
    sent_date TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(sender_id) REFERENCES users (id), 
    FOREIGN KEY(receiver_id) REFERENCES users (id)
);

CREATE INDEX ix_messages_id ON messages (id);

INSERT INTO alembic_version (version_num) VALUES ('001') RETURNING alembic_version.version_num;

COMMIT;

